.pricing__section {
    padding: 70px 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fafafa;
    box-shadow: 5px 5px 10px #242424;
    max-width: 1800px;
    margin-left: 40px;
    margin-top: -10px;
    margin-bottom: -80px;
}

.pricing__container-card {
    background: #7E7C73;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.2);
    width: 480px;
    height: 600px;
    
    text-decoration: none;
    border-radius: 4px;

}

.pricing__container-card:nth-child(2){
    transform: scale(1.15);
    background: #242424;
    margin: 0 24px;
}

.pricing__container-card:hover {
    transform: scale(1.11);
    transition: all 0.3s ;
    color: #1c2237;
}

.pricing__container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.pricign__wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0 auto;
}

.pricing__heading {
    color:#1c2237;
    margin-bottom: 24px;
}

.pricing__container-cardInfo {
   display: flex;
    flex-direction: column;
    height: 500px;
    padding: 24px;
    align-items: center;
    color: #ffffff;
}

.pricing__container-cardInfo h3 {
    margin-bottom: 5px;
    font-size: 24px;
}


.pricing__container-cardInfo h4 {
    font-size: 40px;
}


.pricing__container-cardInfo p {
    margin-bottom: 24px;
    font-size: 14px;
}

.pricing__container-features {
    margin: 16px 0 32px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.pricing__container-features li {
    margin-bottom: 10px;
}

.icon {
    margin: 24px 0 ;
}


@media screen and (max-width: 960px) {
    .pricing__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .pricing__container-card {
        width: 90%;
    }

    .pricign__wrapper{
        margin: 0 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pricing__container-card:nth-child(2) {
        transform: scale(1);
        background: #242424;
        margin: 24px;
    }

    .pricing__container-card:hover{
        transform: none;
    }
}
